@charset "UTF-8";
body {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to right, #505A77, #5C5279); /* Azul marinho */
    display: flex;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: white; /* Texto branco */
}

.data-hora {
    position: absolute;
    bottom: 10px; /* Distância do canto inferior */
    right: 10px;  /* Distância do canto direito */
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.8); /* Fundo transparente */
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra leve */
    color: #001f3f; /* Texto azul marinho */
}

h1, h2 {
    color: white; /* Texto branco */
}

main {
    color: white; /* Texto branco */
    font-weight: bold;
    font-size: larger;
}

.texto-vermelho {
    color: red;
}

.form-container {
    justify-content: center;
    background-color: #001f3f; /* Fundo azul marinho */
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.795);
}

.form-container h2 {
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: white; /* Texto branco */
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group button {
    background-color: #0074D9; /* Azul */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #005bb5; /* Azul mais escuro */
}